.app {
  background-color: #edf6ff;
}
.blue {
  color: #43afff;
  font-weight: bold;
}

.black {
  color: #4c5976;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}
