.custom-button {
  margin-top: 22px;
  display: flex;
  background-color: #43afff;
  border-radius: 4px;
  width: 7rem;
  height: 3rem;
  border: 1px solid #43afff;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
